.mainContainer{
    display: flex;
    align-items: center;

}

.artTopPicks{
    margin-left: -40%;
}


.photoTopPicks{
    margin-left: 40%;
}



.topPicks{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}




