.mainContainer{
    display: flex;
    align-items: center;
    
}

.specialscard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topPicks{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.img{
    border-radius: 5%;
}

.creatorDiv{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.creatorStatement{
    font-size: 20px;
    text-indent: 3%;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
    width: 40%;
}


.creator{
    font-size: 30px;
}

.topSelect{
    display: flex;
    gap: 30%;
}



